<section role="region">
    <header>
        <h1>It's 5 o'clock somewhere</h1>
    </header>
</section>

<ul class="bb-tablist">
    <li>{{#link-to 'clock'}}Clock{{/link-to}}</li>
    <li>{{#link-to 'timezones'}}Timezones{{/link-to}}</li>
</ul>

{{outlet}}
