<br />
<section role="region">
    <header>
        <h2>Local Time: {{localTime}}</h2>
    </header>
</section>



<section data-type="list">
    <ul>
    {{#each model}}
      <li>{{name}}: <strong>{{time}}</strong></li>
    {{/each}}
    </ul>
</section>
